<div  ng-controller="cardController"> 
<button class="btn" ng-click="loadData()">Reload data</button>
<input ng-model="queryFilter" placeholder="Text to filter"></input>
<table class="table table-condensed table-striped">
<thead>
	<th>#</th><th>card_id</th><th>cardholder</th><th>cardnumber</th><th>validity</th><th>cvv</th><th>device_id</th><th>pin</th>
	<th>usr_id</th><th>balance</th>
</thead>
<tbody>
	<tr ng-repeat="card in cards | filter:queryFilter"> 
		<td>{{$index+1}}</td>
		<td>{{card.card_id}}</td>
		<td>{{card.cardholder}}</td>
		<td>{{card.cardnumber}}</td>
		<td>{{card.validity}}</td>
		<td>{{card.cvv}}</td>
		<td>{{card.device_id}}</td>
		<td>{{card.pin}}</td>
		<td>{{card.usr_id}}</td>
		<td>{{card.balance}}</td>
	</tr>
</tbody>
</table>
</div>
