<div  ng-controller="tokenController"> 
<button class="btn" ng-click="loadData()">Reload data</button>
<input ng-model="queryFilter" placeholder="Text to filter"></input>
<table class="table table-condensed table-striped">
<thead>
	<th>#</th>
	<th>token_id</th>
	<th>tokenitem</th>
	<th>date</th>
	<th>usr_id</th>
	<th>card_id</th>
	<th>used</th>
</thead>
<tbody>
	<tr ng-repeat="token in tokens | filter:queryFilter"> 
		<td>{{$index+1}}</td>
		<td>{{token.token_id}}</td>
		<td>{{token.tokenitem}}</td>
		<td>{{token.date | date : "dd.MM.yyyy HH:mm:ss.sss"}}</td>
		<td>{{token.usr_id}}</td>
		<td>{{token.card_id}}</td>
		<td>{{token.used}}</td>				
	</tr>
</tbody>
</table>
</div>

